


.last-updated {
	font-style: italic;
	font-size: 1.4rem;
}


.fx-list {
	margin-top: 20px;
}

.fx {
	box-shadow: $box-shadow;
	border-radius: 4px;
	background: #fff;
	
	color: #000;

	display: flex;
	flex-wrap: wrap;
	margin-bottom: 15px;

	

}


.fx .rates,
.fx .converter,
.fx .actions {
	display: flex;
	width: 100%;
	padding: 10px 15px;

	div {
		width: 50%;
	}
	div:nth-child(2) {
		text-align: right;
	}
}


.fx .rates {
	
	border-bottom: 1px solid $grey;

	

	.fx__currency {
		display: block;	
		font-size: 1.4rem;	
	}

	.fx__amount {
		display: block;
		font-size: 2.6rem;
		font-weight: 600;
		color: #000;
	}
}

.fx .converter {
	overflow: hidden;
	padding-top: 20px;

	div:nth-child(2) input {
		text-align: right;
		border-left: 0;
	}
}

.converter:not(.open) {
	display: none;
}
.converter.open {
	display: flex;
}

.fx .actions {
	div:nth-child(2) button {
		float: right;
	}
}





/* */


.dialog-overlay {
	z-index: 2;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.7);
}

.dialog {
	z-index: 3;
	background-color: #fff;
	text-align: center;
	width: 90%;
	max-width: 400px;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);

	color: $text-clr;
	border-radius: 4px;
}

.dialog-overlay[aria-hidden="true"],
.dialog[aria-hidden="true"] {
	display: none;
}

.dialog-overlay:not([aria-hidden="true"]),
.dialog:not([aria-hidden="true"]) {
	display: block;
}

.dialog-title {
	padding: 15px 30px;
	border-bottom: 1px solid $grey;
	font-size: 2rem; 
}

.dialog-content {
	padding: 15px 30px;
}



/* .toast */

.toast-container {
	position: fixed;
	bottom: $fabPosition;
	left: $fabPosition;
	width: calc(100% - 150px);

	transition: transform 1s;
}

.toast-container:not(.open) {

	transform: translateX(-150%);

}

.toast-container.open {
	transform: translateX(0%);
}

.toast {
	background: #fff;
	padding: 10px;

	border-left-style: solid;
	border-left-width: 5px;
	border-radius: 4px;
	box-shadow: $box-shadow;
}

.toast.success {
	border-left-color: green;
}





